extends layout

block content
  h1 Search: #{searchVal}

  include search-form

  table
    thread
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}

  div
    ul
      each val in bttns
        li
          form(action=`search?page=${val}&term=${searchVal}`, method="post")
            input(type='submit', value=`${val}`)